.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
}
    
.sidebar-toggle-btn{
    width: 4%;
    display: none;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sidebar-toggle-btn:hover {
    opacity: 0.5; 
    transform: translateY(10%);
}

// show project and the todo in it
.project-content {
    display: grid;
    grid-template-rows: auto 1fr;
}
.project-content-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3PX solid gray;
    border-radius: 3px;
}
