.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
}
    
.sidebar-toggle-btn{
    width: 4%;
    display: none;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sidebar-toggle-btn:hover {
    opacity: 0.5; 
    transform: translateY(10%);
}

// show project and the todo in it
.project-content {
    display: grid;
    grid-template-rows: auto 1fr;
}
.project-content-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3PX solid gray;
    border-radius: 3px;
}

.project-content-title > div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.remove-project-btn {
    background-color: #d32626; /* Bootstrap's primary blue color */
    color: white;
    border: 3px solid #680d0d;
    border-bottom: 8px solid #680d0d;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.remove-project-btn:hover {
    background-color: #9c1f1f;
}
.remove-project-btn:active {
    background-color: #680d0d;
    transform: translateY(2px);
}

// project list and todo modal
.project-todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.todo-modal {
    display: block;
    text-decoration: none;
}

.todo-modal-content {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    border: 1px solid gray;
    border-radius: 10px;
}