.sidebar {
    height: 100vh;
    border-top-right-radius: 8px;
    background-color: #001230;
    color: whitesmoke;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.sidebar.closed{
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

.app-title {
    display: flex;
    justify-content: space-around;   
    align-items: center;
    transition-delay: 0.2s;
}

.app-title > p {
    font-size: 25px;
    font-weight: bolder;
}

.app-title > button {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 10px;
    left: 10px;
    color: whitesmoke;
    transition: background-color 0.25s ease-out 0.01s;
}

.app-title > button:hover {
    background-color: rgb(60, 52, 129);
}

.sidebar ul {
    transition-delay: 0.2s;
    list-style: none;
}

#createProject {
    border-radius: 10px;
    padding: 2px 4px;
}

.add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    gap: 8px;
    font-size: 13px;
    color: whitesmoke;
}


.add-task-btn:hover {
    color: rgb(243, 56, 56);
    transform: translateX(3%);
}

/* Dropdown styling */


.project-dropdown > button {
    font-style: italic;
    font-weight: lighter;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: rgb(34, 27, 96);
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
};

.project-dropdown > button:hover {
    background-color: rgb(60, 52, 129);
} 

.project-dropdown-content > button {
    display: block;
    border: none;
    background-color: rgb(34, 27, 96);
    padding: 10px;
    color: whitesmoke;
    width: 150px;
    cursor: pointer;
}



.project-dropdown-content {
    display: none;
    position: absolute;
    max-width: 150px;
    border-radius: 3px;
    z-index: 1;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-dropdown:hover .project-dropdown-content  {
    display: block;
   
}

.project-dropdown-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.project-dropdown-content::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 3px;
}

.project-dropdown-content::-webkit-scrollbar-track {
    display: none;
}


.project-dropdown-content button:hover {
    background-color: rgb(60, 52, 129); 
    border-bottom: 1px solid whitesmoke;
}

.project-dropdown-content > button:active {
    transform: translateX(2px);
}
