.sidebar {
    border-right: 1px solid black;
    background-color: rgb(240, 233, 224);
    height: 100%;
}

.app-title {
    font-size: 25px;
    font-weight: bolder;
    padding: 0 10px;
}

.sidebar ul {
    list-style: none;
}